In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append('../scripts/')

In [3]:
from evaluation import score

import pandas as pd
import numpy as np

In [4]:
target_val = pd.read_csv('../own_data/target_val.csv', sep='\t', index_col=0)

In [5]:
cf_val = pd.read_csv('../own_data/cf_val_full.csv', sep='\t', index_col=0)

In [6]:
target_val.relevant = target_val.relevant.apply(lambda s: s.split(','))
cf_val.fillna('', inplace=True)
cf_val.recommended = cf_val.recommended.apply(lambda s: s.split(','))

In [7]:
target_val.head()

                                                  relevant
user_id
51                              [880503, 1289358, 2013723]
69       [83460, 171684, 195833, 256790, 317093, 332955...
87                                                [207240]
142                                              [1752461]
239            [109924, 816726, 1040895, 2567173, 2591118]

In [8]:
cf_val.head()

                                           recommended
id
51   [1917906, 288412, 483541, 2331710, 356824, 255...
69   [1819338, 784737, 343377, 1624781, 328065, 255...
87   [1011084, 1072348, 929053, 2201823, 950708, 54...
142  [1422357, 1386412, 374376, 1056667, 2666823, 1...
239  [784737, 2094106, 2134022, 1978323, 2209141, 1...

In [9]:
target_val.shape

(122238, 1)

Оценим пересечение, SCORE соревнования, в том числе нормированный на размер тестовой выборки (150,000)

In [10]:
np.array([len(set(a).intersection(b)) for a, b in zip(cf_val.recommended, target_val.relevant)]).sum()

34897

In [11]:
s = score(cf_val, target_val)

100%|██████████| 122238/122238 [00:34<00:00, 3588.22it/s]

Предположительный результат на 150,000 пользователях

In [13]:
s / target_val.shape[0] * 150000

971352.8423989649

Предположительный результат на лидерборде

In [14]:
s / target_val.shape[0] * 50000

323784.28079965495